<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
	<script src="/static/js/bootstrap/bootstrap.min.js" ></script>
</head>
<body>
	{% block header %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="...">
	      </a>
	    </div>
	  </div>
	</nav>
	{% endblock %}
	{% block body %}
	<div>
		No body
	</div>
	{% endblock %}
	{% block footer %}
	<div>
		No footer
	</div>
	{% endblock %}
</body>
</html>